body{
    margin:0px ;
    padding:0px ;
    background-color: #CCCCCC;
}
section{
    margin-left: 40px;
}
h1{
    font-size: 28px;
}

p.italic{
   font-style: italic;
}
p.big{
    font-size: 24px;
}