 div {
    display: inline-block;
 }

 div.green{
    background-color: green;
    margin-left: 10px;
    margin-right: 15px;
 }

 div.blue{
    background-color: blue;
    margin-left: 15px;
 }

 div.red{
    background-color: red;
    margin: 15px;
 }

 div.purple{
    background-color: purple;
    margin: 15px;
 }

 div.orange{
    background-color: orange;
    margin: 15px;
 }